@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.logo {
    font-family: Robot, sans-serif;
    font-size: 60px;
}

h1 {
    font-size: 3em;

}

h2 {
    margin-top: .5em;
}

h3 {
    margin-block-end: .5em;
}

h3 a {
    text-decoration: none;
    color: firebrick;
}

a {
    text-decoration: none;
    color: darkblue;
}

.post-meta {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 15px;
    padding-bottom: .5em;
}

.post-meta.author {
    font-weight: bold;
}

.post-meta a {
    text-decoration: none;
    color: maroon;
}


.post-date {
    font-style: italic;
    font-size: 18px;
}

.taxonomy {
    font-style: normal;
    font-size: 17px;
}

.photo {
    display: grid;
    grid-template-columns: 20px 500px 20px;
    grid-template-rows: 25px 300px 25px 25px;
    grid-template-areas: "bor bor bor bor bor bor" "bor ph ph ph ph bor" "bor cap cap cap cap bor" "bor bor bor bor bor bor";
    /*border: 4px solid crimson;*/
    background: grey;
}



.photo-area {
    display: flex;
    /*border: 4px solid crimson;*/
    /*background: grey;*/
    justify-content: center;
    flex-flow: column;
    padding: 25px;
}

.photo {
    width: 80%;
    height: auto;
}

.photo-fill {
    display: flex;
    height: 350px;
    width: 450px;
    background: aqua;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
}

.photo-caption {

    width: 80%;
    /*background: lightgoldenrodyellow;*/
    height: 4em;
    align-items: center;
    justify-content: center;
    display: flex;
    /*border: 4px solid lightgoldenrodyellow;*/
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

.right-nav-link a {
    text-decoration: none;
    color: maroon;
    text-size: 30px;
}


.read-more {
    color: darkblue;
    font-size: 14px;
    margin-top: 12px;
    background-color: inherit;
    border-radius: 30px;
    cursor: pointer;
    float: right;
}