.home-page {
    /*max-width: 1200px;*/
    /*margin: 0px 80px 0px 80px;*/
    /*display: grid;*/
    /*grid-template-areas: "banner " "title " "aboutMe " "topics1"*/
}

.banner-image {
    display: none;
}

.logo {
    grid-area: banner;
    background-image: url("../img/banner.png");
    width: 100%;
    height: auto;

}

.title {
    grid-area: title;
}

.about {
    grid-area: aboutMe;
}

.topics {
    display: flex;
    flex-direction: row;
    grid-area: topics1;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.topic {

    width: 200px;
    height: 300px;
    margin: 35px;
    border: 2px solid darkcyan;
}

.topic h2 {
    margin-left: .2em;
}

.logo {
    padding: .5em;
    color: gold;
}

.topics a {
    text-decoration: none;
    color: darkblue;
}

.topic-tile1 {
    background-image: url("../img/family_blue_no_text.png");
}

.topic-tile2 {
    background-image: url("../img/travel.png");
}

.topic-tile3 {
    background-image: url("../img/work.png");
}

.topic-tile4 {
    background-image: url("../img/at.png");
}

.recent-posts {
    display: none;
}


@media only screen and (min-width: 835px) {
    .home-page {
        margin: 0px 80px 0px 80px;
        display: grid;
        grid-template-areas: "banner banner banner" "title title title" "aboutMe aboutMe aboutMe" "topics1 . topics2"
    }

    .right-nav-link {
        display: block;
    }
    .recent-posts {
        grid-area: topics2;
        min-width: 200px;
    }
    .main-nav {
        flex-direction: row;
    }


}

@media only screen and (min-width: 1000px) {
    .home-page {
        margin: 0px 80px 0px 80px;
        display: grid;
        grid-template-columns: 80% 5% 15%;
        grid-template-areas: "banner banner banner" "title title title" "aboutMe aboutMe aboutMe" "topics1 . topics2"
    }


}
