.home-page {
    max-width: 1200px;
    margin: 0px 80px 0px 80px;
    display: grid;
    /*grid-template-columns: 600px auto 50px;*/
    /*grid-template-rows: 200px 60px auto;*/
    grid-template-areas: "banner banner banner" "title title title" "topics1 . topics2"
}

.banner-image {
    display: none;
}

.title {
    grid-area: title;
}

.topics {
    display: flex;
    flex-direction: row;
    grid-area: topics1;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.topic {

    width: 200px;
    height: 300px;
    margin: 40px;
    border: 3px solid firebrick;
}

.recent-posts {
    grid-area: topics2;
}

@media only screen and (min-width: 1200px) {
    .home-page {
        max-width: 1200px;
        margin: 0px 80px 0px 80px;
        display: grid;
        grid-template-columns: 800px 60px 300px;
        grid-template-rows: 200px 60px auto;
        grid-template-areas: "banner banner banner" "title title title" "topics1 .
    }

    .banner-image {
        display: block;
        grid-area: banner;
        width: 1200px;
        height: 200px;
    }
}
/*.topic-tile1 {*/
/*    grid-area: topics1;*/
/*}*/

/*.topic-tile2 {*/
/*    grid-area: topics1;*/
/*}*/

/*.topic-tile3 {*/
/*    grid-area: topics2;*/
/*}*/

/*.topic-tile4 {*/
/*    grid-area: topics2;*/
/*}*/
