

.description {
    margin-bottom: 2em;
}
.blog-summaries {
    grid-area: topics1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.blog-summary {
    padding-bottom: 1.2em;
    border-bottom: 3px solid burlywood;
    margin-bottom: 2em;
}

.blog-summary:last-child {
    border: none;
}


@media only screen and (min-width: 835px) {
    .blog-summary-container {
        max-width: 1200px;
        margin: 0px 80px 0px 80px;
        display: grid;
        grid-template-areas: "banner banner banner" "navigation navigation navigation" "title title title" "topics1 . topics2" "ftr ftr ftr"
    }


    .right-nav-link {
        display: block;
    }
    .recent-posts {
        grid-area: topics2;
    }
    .main-nav {
        flex-direction: row;
    }

}

